doctype 5
html(lang='en')

  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
    meta(name='description', content='Open Access Button')
    if typeof(title) !== 'undefined'
      title= 'Open Access Button - ' + title
    else
      title= 'Open Access Button'
    link(rel='shortcut icon', type='image/x-icon', href='/img/favicon.ico')
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    link(rel='stylesheet', href='/css/bootstrap-responsive.min.css')
    link(rel='stylesheet', href='/css/font-awesome.min.css')
    link(rel='stylesheet', href='/css/app.css')

  body(style='padding:0')
    .alert This is a prototype version. A beta version is coming soon.

    // Main body
    .container(style='padding:0 20px 0')
      block content

    // google analytics
    script
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-42412544-1', 'herokuapp.com');
      ga('send', 'pageview');

    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.js')
    block scripts
